migrations
*.log
*.pot
*.pyc
*.cpython-37.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

local_settings.py

# Editor backup files
*~
*#

# Django's SQL Lite Database File
db.sqlite3

# Django generated migrations
0*.py

# Image files (so we don't put into the repo demo files uploaded when this app was run)

# MacOS index file
.DS_Store

.vscode/
team23/__pycache__/
*.pyc
