<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="utf-8">
		<!-- Import Bootstrap source file -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
		<!-- Import fontawesome source file -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/c00d132968.js" crossorigin="anonymous"></script>
		<!-- favicon for the title -->
        <link rel="icon" sizes="32x32" href="https://www.cmu.edu/brand/downloads/assets/images/seal-r-600x600-min.jpg" type="image/png"/>
        
	    {% load static %}
		<link href="{% static 'groupbuying/base.css' %}" rel="stylesheet" type="text/css">
		{% block headFiles %}{% endblock %}
		<!-- <script src="{% static 'socialnetwork/socialnetwork.js' %}" type="text/javascript"></script> -->
		<title> {% block title %} Group Buying {% endblock %} </title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'search' %}">
					<img src="https://www.cmu.edu/brand/downloads/assets/images/seal-r-600x600-min.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
					<span id="id_name_of_site">Group buying</span>
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="Toggle navigation">
            				<span class="navbar-toggler-icon"></span>
        			</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						{% block navBar %}
						<form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search' %}">
							<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name = "search_text">
							{% csrf_token %}
						</form>
						<a class="nav-link" href="{% url 'orderList' %}"><i class="fas fa-shopping-cart fa-lg"></i></a>
						<li class="nav-item dropdown">
							<a id="id_show_nav_button" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Signed In As <span id="id_logged_in_user_name">{{user.first_name}} {{user.last_name}}</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<a id="id_nav_home" class="dropdown-item" href="{% url 'home' %}">Home</a>
								<a id="id_nav_shop" class="dropdown-item" href="{% url 'shop' user.id %}">Shop Page(for customer)</a>
								<a id="id_nav_shopper_profile" class="dropdown-item" href="{% url 'shop_edit' %}">shopper Profile</a>
								<a id="id_nav_user_profile" class="dropdown-item" href="{% url 'profile' user.id %}">User Profile</a>
								<a id="id_nav_user_profile" class="dropdown-item" href="{% url 'other' %}">Other Profile(demo)</a>
								<div class="dropdown-divider"></div>
								<a id="id_nav_logout" class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>
		{% block header %}
		{% endblock %}
		<div class="container">
			{% if error %}
			<div class="alert alert-danger row errorlist" role="alert">
				{{ error }}
			</div>
			{% endif %}

			{% if message %}
			<div class="alert alert-success row" role="alert">
				{{ message }}
			</div>
			{% endif %}

			{% block content %}
			{% endblock %}
		</div>
		{% block footer %}
		{% endblock %}
		<!-- Bootstrap related javascript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
		<!-- Chatbot embeded source -->
		<script
  async>(function (w, d) { w.CollectId = "5e7a409f4657ea409772bf2f"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
	</body>
</html>
