{% extends "groupbuying/base.html" %}

{% block navBar %}
<li><a id="id_register_link" class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a></li>
{% endblock %}

{% block pageName %}
Login
{% endblock %}

{% block content %}
<div class="row">
  <h1 class="mb-3 font-weight-normal text-center mx-auto">
    <span id="id_name_of_page">Login</span>
  </h1>
</div>
<div class="row">
  <span class="text mx-auto">Need to group buying? <a id="id_register_link"
      href="{% url 'register' %}">Register</a></span>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-4">
    <form method="post" action="{% url 'login' %}" class="text-center">
        {% for entry in form %}
        <div class="form-group">
          {{entry}}
        </div>
        {% endfor %}
        <div class="text-left form-group">
          <a href="{% url 'register' %}">Forgot Password?</a>
        </div>
      {% csrf_token %}
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="id_login_button">Submit</button>
    </form>
  </div>
  <div class="divider"></div>
  <div class="col-4">
    <div class="row align-items-center">
      <div class="col">
        <!-- Facebook -->
        <a href="{% url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook"></i> Login in with Facebook
        </a>
        <br>
        <!-- Google -->
        <a href="{% url 'social:begin' 'google-oauth2' %}" title="Google" class="btn btn-block btn-social btn-google">
          <i class="fa fa-google"></i> Login in with Google
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <p class="text-muted mx-auto">&copy; 2020 Spring, CMU Web development, team 23</p>
</div>
{% endblock %}