{% extends "groupbuying/base.html" %}

{% block navBar %}
<li><a id="id_register_link" class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a></li>
{% endblock %}

{% block pageName %}
Login
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="mb-3 font-weight-normal text-center mx-auto">
      <span id="id_name_of_page">Login</span>
    </h1>
</div>
<br>
<br>
<div class="row">
    <div class="col-4 mx-auto">
        <form method="post" action="{% url 'login' %}" class="form-group text-center">
            <table>
                {{form}}
            </table>
            {% csrf_token %}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="id_login_button">Submit</button>
        </form>
    </div>
    <div class="divider">
    </div>
    <div class="col-4 mx-auto align-items-center">
        <a href="#" class="btn-login-with bg1">
          <i class="fab fa-facebook"></i>
          Login with Facebook
        </a>
        <br>
        <a href="#" class="btn-login-with bg2">
          <i class="fab fa-google"></i>
          Login with Google
        </a>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <p class="text-muted mx-auto">&copy; 2020 Spring, CMU Web development, team 23</p>
</div>
{% endblock %}