<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
</head>

<body style="background: #fff">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="800" id="emailContainer">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                                <tr>
                                    <td align="center" valign="top">
                                        <div style="background: #eeeeee;">
                                            <h3>Hi Mr./ Mrs.</h3>
                                            <p>This is your order receipt.</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                                {% if isFounder %}
                                {% for order in receipt.orders %}
                                <tr>
                                    <td align="center" valign="top">
                                        <h2>{{order.username}}</h2>
                                        <table border="0" cellspacing="0" width="100%" style="text-align: center;">
                                            <thead>
                                                <tr style="background-color: #6c7ae0;font-size: 18px;color: #fff; height:5vh; font-size: 150%;">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">Count</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            <tbody style="font-size: 15px;color: #808080; font-size: 150%;">
                                                {% for item in order.order %}
                                                {% if forloop.counter|divisibleby:"2" == 0 %}
                                                <tr style="background-color: #f8f6ff; height:5vh;">
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    <td>{{item.product}}</td>
                                                    <td>{{item.count}}</td>
                                                    <td>{{item.price}}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th scope="row" style="height:5vh;">{{forloop.counter}}</th>
                                                    <td>{{item.product}}</td>
                                                    <td>{{item.count}}</td>
                                                    <td>{{item.price}}</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                <tr style="background-color: #f8f6ff; color: #444; height:5vh;">
                                                    <th scope="row">Total</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="background-color: #FFFFE0;">{{order.total}}</td>
                                                </tr>
                                            </tbody>
                                            </thead>
                                        </table>
                                        <br>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                                <tr>
                                    <td align="center" valign="top">
                                        <h1>Summary</h1>
                                        <table cellspacing="0" width="100%" style=" text-align: center;">
                                            <thead>
                                                <tr style="background-color: #6c7ae0;font-size: 18px;color: #fff; height:5vh; font-size: 150%;">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">Count</th>
                                                    <th scope="col">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 15px;color: #808080; font-size: 150%;">
                                                {% for item in receipt.summary.order %}
                                                {% if forloop.counter|divisibleby:"2" == 0 %}
                                                <tr style="background-color: #f8f6ff; height:5vh;">
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    <td>{{item.product}}</td>
                                                    <td>{{item.count}}</td>
                                                    <td>{{item.price}}</td>
                                                </tr>
                                                {% else %}
                                                <tr style="height:5vh;">
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    <td>{{item.product}}</td>
                                                    <td>{{item.count}}</td>
                                                    <td>{{item.price}}</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                <tr style="background-color: #f8f6ff; color: #444; height:5vh;">
                                                    <th scope="row">Total</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="background-color: #FFFF66">{{receipt.summary.total}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>