{% extends "groupbuying/base.html" %}

{% block pageName %}
Profile
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'search' %}">Search</a></li>
        <li class="breadcrumb-item active" aria-current="order">Order</li>
    </ol>
</nav>
<div class="row">
    {% for order in orders %}
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Order Number: {{order.order_id}}
            </div>
            <img class="card-img-top" src="{{order.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{order.name}}</h5>
                <a class="btn btn-primary" href="{% url 'show_order' order.order_id %}?_id={{order.order_id}}">To Checkout</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}