{% extends "groupbuying/base.html" %}

{% block pageName %}
Profile
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'search' %}">Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{username}}'s Profile</li>
    </ol>
</nav>
<div class="row">
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-header"><strong>His/Her Recently Orders</strong></div>
            {% if orders %}
            <ul class="list-group list-group-flush">
                {% for order in orders %}
                <li class="list-group-item"><a id="id_profile_link_{{follower.username}}" href="/">{{order}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-header"><strong>Subscribes</strong></div>
            {% if subcribes %}
            <ul class="list-group list-group-flush">
                {% for subcribe in subcribes%}
                <li class="list-group-item"><a href="/{{subcribe}}">{{subcribe}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-3 align-self-center">
                    <img id="id_user_picture" class="card-img img-thumbnail" src="{{photo}}" alt="Default image"
                        onerror="this.onerror=null;this.src='https://i.stack.imgur.com/l60Hf.png';">
                </div>
                <div class="col-9 align-self-center">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span>About {{username}}</span>
                        </h4>
                        <textarea readonly class="card-text col mb-2 form-control form-control-lg" id="id_user_bio">{{ description }}</textarea>
                        <button class="btn btn-sm btn-primary mt-2" id="id_unfollow" name="action" value="unfollow">
                            Unfollow
                        </button>
                        <button class="btn btn-sm btn-primary mt-2" id="id_follow" name="action" value="follow">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header"><strong>He/ She is following</strong></div>
            {% if followers %}
            <ul class="list-group list-group-flush">
                {% for follower in followers %}
                <li class="list-group-item"><a id="id_profile_link_{{follower.username}}" href="/">{{follower}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}