{% extends "groupbuying/base.html" %}

{% block pageName %}
Profile
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'search' %}">Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<div class="row">
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-header"><strong>Your Recently Orders</strong></div>
            {% if orders %}
            <ul class="list-group list-group-flush">
                {% for order in orders %}
                <li class="list-group-item"><a id="id_profile_link_{{follower.username}}" href="/">{{order}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-header"><strong>Subscribes</strong></div>
            {% if subcribes %}
            <ul class="list-group list-group-flush">
                {% for subcribe in subcribes%}
                <li class="list-group-item"><a href="/{{subcribe}}">{{subcribe}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-3 align-self-center">
                    {% if customerInfo.image.url %}
                    <img id="id_user_picture" class="card-img img-thumbnail" src="../{{ customerInfo.image.url }}">
                    {% else %}
                    <img id="id_user_picture" class="card-img img-thumbnail" src='https://i.stack.imgur.com/l60Hf.png'>    
                    {% endif %}
                </div>
                <div class="col-9 align-self-center">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span>{{username}}'s Profile</span>
                        </h4>
                        <form action="{% url 'update_customer_info' user.id %}" method="POST" class="form-group" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <textarea class="form-control" name="description" id="description" rows="3">{{description}}</textarea>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image" name="image">
                                <label class="custom-file-label" for="shopLogo">Choose your shop logo</label>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-sm btn-primary mt-2" id="id_update_profile_button">
                                    Submit
                                </button>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header"><strong>You are following</strong></div>
            {% if followers %}
            <ul class="list-group list-group-flush">
                {% for follower in followers %}
                <li class="list-group-item"><a id="id_profile_link_{{follower.username}}" href="/">{{follower}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}