{% extends "groupbuying/base.html" %}

{% block pageName %}
Shops
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<div class="alert alert-success row" role="alert">
  This order is raised by Shine.
</div>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush text-center font-weight-bold" id="list-tab" role="tablist">
          <h4 class="text-uppercase font-italic text-muted">{{shop_name}}</h4>
          <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="tab"
            href="#list-profile" role="tab" aria-controls="profile">
            <h5>Profile</h5>
          </a>
          <a class="list-group-item list-group-item-action" id="list-review-list" data-toggle="tab" href="#list-review"
            role="tab" aria-controls="review">
            <h5>Review</h5>
          </a>
          <a class="list-group-item list-group-item-action" id="list-orders-list" data-toggle="tab" href="#list-orders"
            role="tab" aria-controls="orders">
            <h5>Orders</h5>
          </a>
          <a class="list-group-item list-group-item-action" id="list-statistics-list" data-toggle="tab"
            href="#list-statistics" role="tab" aria-controls="statistics">
            <h5>Statistics</h5>
          </a>
          <h4 class="text-uppercase font-italic text-muted mt-5">Menu</h4>
          {% for category in menu %}
          {% if forloop.counter == 1 %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category}}</h5>
          </a>
          {% else %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category}}</h5>
          </a>
          {% endif %}
          {% endfor %}
          <!-- test start -->
          {% for category in categories %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category.name}}</h5>
          </a>
          {% endfor %}
          <br></br>
          <form action="{% url 'add_category' %}" method="POST">
            <input type="text" name="new_category" class="form-control text-center mb-1" placeholder="New Category">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Add</button>
          </form>
          <!-- test end -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content mb-2" id="menu-tabContent">
      <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>{{ vendorInfo.name }}</em></h4>
              <h5>{{ vendorInfo.name }}<i
                id="{{vendorInfo.name}}" class="far fa-edit btn" data-toggle="modal" data-target="#vendorModal" data-whatever="{{ vendorInfo.name }}"></i>
              </h5>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-4 align-self-center">
              {% if vendorInfo.image != "" %}
              <img id="id_user_picture" class="card-img img-thumbnail" src="{{vendorInfo.image.url}}"
                alt="Default image" onerror="this.onerror=null;this.src='https://i.stack.imgur.com/l60Hf.png';">
              {% else %}
              <img id="id_user_picture" class="card-img img-thumbnail" src="{{ vendorInfo.image_url_OAuth }}" ;"
                alt="Default image" onerror="this.onerror=null;this.src='https://i.stack.imgur.com/l60Hf.png';">
              {% endif %}
            </div>
            <div class="col-8 align-self-center">
              <div class="card-body">
                <h4 class="card-title">
                  <span>About Us</span>
                </h4>
                <div class="dropdown">
                  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="dropdown-menu" aria-labelledby="myInput" id="myDropdown">
                    <a class="dropdown-item" href="#dinner">Dinner</a>
                    <a class="dropdown-item" href="#lunch">Lunch</a>
                    <a class="dropdown-item" href="#snack">Snack</a>
                  </div>
                </div>
                <form action="{% url 'update_vendor_info' %}" method="POST" class="form-group"
                  enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- <label for="shoppingLimit">Minimum Order</label>
                  <input id="shoppingLimit" type="number" min="1" step="0.1" class="form-control">
                  <label for="shopHashtag">Shop Tag</label>
                  <input id="shopHashtag" type="text" class="form-control"> -->
                  {{ vendorForm.as_p }}
                  <div class="text-right">
                    <button class="btn btn-sm btn-primary mt-2" id="id_update_profile_button">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-review" role="tabpanel" aria-labelledby="list-review-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>Review</em></h4>
              <h2>{{shop_name}}</h2>
            </div>
          </div>
          {% for post in posts%}
          <div class="card col-12">
            <div class="card-body">
              <strong><a id="id_post_profile_{{ post.id }}"
                  href="/follower/{{ post.created_by.username }}">{{ post.created_by.username }}</a></strong><span
                id="id_post_date_time_{{ post.id }}" class="float-right">{{ post.creation_time }}</span>
              <h5 class="card-subtitle mt-1">
                {% for j in '01234'|make_list %}
                {% if forloop.counter <= post.rating %}
                <span class="fa fa-star checked"></span>
                {%else%}
                <span class="fa fa-star"></span>
                {% endif %}
                {% endfor %}
              </h5>
              <p id="id_post_text_{{ post.id }}">
                {{ post.post }}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Incompleted</h5>
            <div class="accordion" id="accordionIncompleted">
              {% for order in incompleted %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#order-incompleted-{{order.order_id}}" aria-expanded="true"
                      aria-controls="collapseOne">
                      Order ID #{{order.order_id}}
                    </button>
                  </h2>
                </div>
                <div id="order-incompleted-{{order.order_id}}" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordionIncompleted">
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <h3 class="card-title">Summary</h3>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Product</th>
                              <th scope="col">Count</th>
                              <th scope="col">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in order.receipt.summary.order %}
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{item.product}}</td>
                              <td>{{item.count}}</td>
                              <td>{{item.price}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <th scope="row">Total</th>
                              <td></td>
                              <td></td>
                              <td class="bg-warning text-dark">{{order.receipt.summary.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <textarea readonly class="form-control mb-1" name ="orderDescription" id="orderDescription{{order.order_id}}" rows="3">{{order.receipt.summary.description}}</textarea>
                        <form method="post" action="complete_order">
                          {% csrf_token %}
                          <input type="hidden" name="order_id" value="{{order.order_id}}">
                          <button type="submit" class="btn btn-success btn-sm">Complete order #{{order.order_id}}</button>
                        </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </li>
          <li class="list-group-item">
            <h5>Finished</h5>
            <div class="accordion" id="accordionFinished">
              {% for order in finished %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#order-finished-{{order.order_id}}" aria-expanded="true" aria-controls="collapseOne">
                      Order ID #{{order.order_id}}
                    </button>
                  </h2>
                </div>
                <div id="order-finished-{{order.order_id}}" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordionFinished">
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <h3 class="card-title">Summary</h3>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Product</th>
                              <th scope="col">Count</th>
                              <th scope="col">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in order.receipt.summary.order %}
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{item.product}}</td>
                              <td>{{item.count}}</td>
                              <td>{{item.price}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <th scope="row">Total</th>
                              <td></td>
                              <td></td>
                              <td class="bg-warning text-dark">{{order.receipt.summary.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <textarea readonly class="form-control" name ="orderDescription" id="orderDescription{{order.order_id}}" rows="3">{{order.receipt.summary.description}}</textarea>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="list-statistics" role="tabpanel" aria-labelledby="list-statistics-list">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Company Performance</h5>
            <div class="card-body">
              <div id="statistics_line"></div>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Sales Performance</h5>
            <div class="card-body">
              <div id="statistics_bar"></div>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Target Customers</h5>
            <div class="card-body">
              <div id="statistics_pie"></div>
            </div>
          </li>
        </ul>
      </div>
      {% for category,dishes in menu.items %}
      <div class="tab-pane fade" id="list-{{category}}" role="tabpanel" aria-labelledby="list-{{category}}-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>Menu</em></h4>
              <h5>{{category}}<i
                id="{{category}}" class="far fa-edit btn" data-toggle="modal" data-target="#menuModal" data-whatever="{{category}}"></i>
              </h5>              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for dish, dish_info in dishes.items %}
              <li class="list-group-item menu">
                <div class="row no-gutters">
                  <div class="col-3 align-self-center">
                    <img src="{{ dish_info.image.url }}" class="card-img px-1 rounded mx-auto" alt="{{ dish }}">
                  </div>
                  <div class="col-9">
                    <h4 class="card-title"><span id="product-name-{{dish_info.id}}">{{ dish }}</span><i
                        class="far fa-edit btn" data-toggle="modal" data-target="#dishModal" data-whatever="{{dish_info.id}}"></i><span class="float-right">
                        <h6>$ <span id="product-price-{{dish_info.id}}">{{dish_info.price}}</span></h6>
                      </span></h4>
                    <p class="card-text" id="product-description-{{dish_info.id}}">{{ dish_info.description }}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="list-group-item">
                <h4 class="card-title">Add an new {{category}}</h4>
                {{ errors }}
                <form enctype="multipart/form-data" action="{% url 'add_product' %}" method="post">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-6">
                      {{ productForm.name }}
                    </div>
                    <div class="form-group col-6">
                      {{ productForm.price }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ productForm.description }}
                  </div>
                  <div class="form-group">
                    {{ productForm.image }}
                  </div>
                  <input type="hidden" name="current_category" value="{{ category }}">
                  <input type="submit" class="btn btn-primary" value="Submit">
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
<div class="modal fade" id="dishModal" tabindex="-1" role="dialog" aria-labelledby="dishModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dishModalLabel">Edit product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" action="{% url 'update_product' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-6" id="modal-name">
              {{ productForm.name }}
            </div>
            <div class="form-group col-6" id="modal-price">
              {{ productForm.price }}
            </div>
          </div>
          <div class="form-group" id="modal-description">
            {{ productForm.description }}
          </div>
          <div class="form-group" id="modal-image">
            {{ productForm.image }}
          </div>
          <input type="hidden" id="modal-id" name="product_id" value="">
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="menuModalLabel">Edit Menu Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" action="{% url 'update_category_name' %}" method="post">
          {% csrf_token %}
          <div class="form-group" id="modal-menu-name">
            <label for="menu-name">New Menu Name</label>
            <input type="text" class="form-control" id="menu-name" name="new_menu_name">
          </div>
          <input type="hidden" id="modal-menu-id" name="menu_id" value="">
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vendorModal" tabindex="-1" role="dialog" aria-labelledby="vendorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vendorModalLabel">Edit Shop Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_vendor_name' %}" method="POST">
          <div class="form-group" id="modal-vendor-name">
            <label for="menu-name">New Shop Name</label>
            <input type="text" class="form-control" id="menu-name", name='vendor_name'>
          </div>
          <input type="hidden" id="modal-vendor-id" name="vendor_id" value="">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% load static %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'groupbuying/shop.js' %}" type="text/javascript"></script>
{% endblock %}