{% extends "groupbuying/base.html" %}

{% block headFiles %}
{% load static %}
    <link href="{% static 'groupbuying/shop.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'groupbuying/shop.js' %}" type="text/javascript"></script>
{% endblock %}

{% block pageName %}
Shops
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<div class="alert alert-success row" role="alert">
  {% if founder %}
  This order is raised by {{founder}}.
  {% else %}
  This order is raised by {{user.username}}.
  {% endif %}
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'search' %}">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{vendorInfo.name}}</li>
  </ol>
</nav>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush text-center font-weight-bold" id="list-tab" role="tablist">
          <h4 class="text-uppercase font-italic text-muted">{{vendorInfo.name}}</h4>
          <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="tab"
            href="#list-profile" role="tab" aria-controls="profile">
            <h5>Profile</h5>
          </a>
          <a class="list-group-item list-group-item-action" id="list-review-list" data-toggle="tab" href="#list-review"
            role="tab" aria-controls="review">
            <h5>Review</h5>
          </a>
          <h4 class="text-uppercase font-italic text-muted mt-5">Menu</h4>
          {% for category in menu %}
          {% if forloop.counter == 1 %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category}}</h5>
          </a>
          {% else %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category}}</h5>
          </a>
          {% endif %}
          {% endfor %}
          <!-- test start -->
          {% for category in categories %}
          <a class="list-group-item list-group-item-action" id="list-{{category}}-list" data-toggle="tab"
            href="#list-{{category}}" role="tab" aria-controls="{{category}}">
            <h5>{{category.name}}</h5>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content mb-2" id="menu-tabContent">
      <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>{{ vendorInfo.name }}</em></h4>
              <h2>{{vendorInfo.name}}</h2>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-4 align-self-center">
              {% if vendorInfo.image != "" %}
              <img id="id_user_picture" class="card-img img-thumbnail" src="../{{ vendorInfo.image.url }}"
                alt="Default image" onerror="this.onerror=null;this.src='https://i.stack.imgur.com/l60Hf.png';">
              {% else %}
              <img id="id_user_picture" class="card-img img-thumbnail" src="{{ vendorInfo.image_url_OAuth }}" ;"
                alt="Default image" onerror="this.onerror=null;this.src='https://i.stack.imgur.com/l60Hf.png';">
              {% endif %}
            </div>
            <div class="col-8 align-self-center">
              <div class="card-body">
                <h4 class="card-title">
                  <span>About Us</span>
                </h4>
                {% for tag in tags %}
                <p class="btn btn-light btn-sm">
                  {{tag}}<span class="fas fa-times"></span>
                </p>
                {% endfor %}
                <p class="text-monospace">Shopping limit: $ {{ vendorInfo.min_order }}</p>
                <textarea name="description" cols="70" rows="3" readonly id="id_description"
                  class="card-text col mb-2 form-control form-control-lg">{{ vendorInfo.description }}</textarea>
                  <form method="post" action="{% url 'add_to_favorite' vendorInfo.id %}" >
                    <button type="submit" class="btn btn-danger"><i class="fas fa-heart"></i> Add to favorite</button>
                    {% csrf_token %}
                  </form>
                  <form method="post" action="{% url 'remove_from_favorite' vendorInfo.id %}" >
                    <button type="submit" class="btn btn-warning"><i class="fas fa-heart"></i> Remove from favorite</button>
                    {% csrf_token %}
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-review" role="tabpanel" aria-labelledby="list-review-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>Review</em></h4>
              <h2>{{vendorInfo.name}}</h2>
            </div>
          </div>
          <div class="card col-12 mb-2">
            <div class="card-body">
              <h5 class="card-title">Comment & Score</h5>
              <form method="post" action="{% url 'rating_star' %}" class="text-center">
                <div class="form-group">
                  <fieldset class="rating form-group">
                    <input type="radio" id="star5" name="rating" value="5" /><label class="fa fa-star" for="star5"
                      title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class="fa fa-star" for="star4"
                      title="Good - 4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class="fa fa-star" for="star3"
                      title="Medium - 3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class="fa fa-star" for="star2"
                      title="Bad - 2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class="fa fa-star" for="star1"
                      title="Sucks - 1 star"></label>
                  </fieldset>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="comment" name="comment" rows="3"
                    placeholder="Write your feeling about this shop"></textarea>
                </div>
                <input type="hidden" name="shop_id" value={{ vendorInfo.id }}>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
                {% csrf_token %}
              </form>
            </div>
          </div>
          {% for post in posts%}
          <div class="card col-12">
            <div class="card-body">
              <strong><a id="id_post_profile_{{ post.id }}"
                  href="/follower/{{ post.created_by.username }}">{{ post.created_by.username }}</a></strong><span id="id_post_date_time_{{ post.id }}"
                class="float-right">{{ post.creation_time }}</span>
                <h5 class="card-subtitle mt-1">
                  {% for j in '01234'|make_list %}
                  {% if forloop.counter <= post.rating %}
                  <span class="fa fa-star checked"></span>
                  {%else%}
                  <span class="fa fa-star"></span>
                  {% endif %}
                  {% endfor %}
                </h5>
              <p id="id_post_text_{{ post.id }}">
                {{ post.post }}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% for category,dishes in menu.items %}
      <div class="tab-pane fade" id="list-{{category}}" role="tabpanel" aria-labelledby="list-{{category}}-list">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="mx-auto text-center">
              <h4 class="border-bottom"><em>Menu</em></h4>
              <h2>{{category}}</h2>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for dish,dish_info in dishes.dishes.items %}
              <li class="list-group-item menu">
                <div class="row no-gutters">
                  <div class="col-3 align-self-center">
                    {% if dish_info.image != "" %}
                      <img src="../{{ dish_info.image.url }}" class="card-img px-1 rounded mx-auto" alt="{{ dish }}">
                    {% else %}
                      <img src="https://www.cmu.edu/stugov/gsa/logo_square.png" class="card-img px-1 rounded mx-auto" alt="{{ dish }}">
                    {% endif %}      
                  </div>
                  <div class="col-9">
                    <h4 class="card-title">{{ dish }}<span class="float-right">
                        <h6>$ {{dish_info.price}}</h6>
                      </span></h4>
                    <p class="card-text">{{ dish_info.description }}</p>
                    {% if order_id %}
                    <form method="post" action="{% url 'order' order_id %}">
                      {% else %}
                      <form method="post" action="{% url 'order' "new" %}">
                        {% endif %}

                        <input type="hidden" name="product_id" value={{ dish_info.id }}>
                        <div class="form-row">
                          <button type="button" class="fas fa-minus-circle btn btn-default" onclick="minusProduct('dish-{{ dish_info.id }}')"></button>
                          <input type="number" name="product_number" value="1" class="form-control-sm" id="dish-{{ dish_info.id }}">
                          <button type="button" class="fas fa-plus-circle btn btn-default" onclick="addProduct('dish-{{ dish_info.id }}')"></button>
                          <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
                        </div>
                        {% csrf_token %}
                      </form>
                  </div>
                </div>
              </li>
              {% endfor %}
              <!-- test start -->
              {% for product in products %}
              <li class="list-group-item menu">
                <div class="row no-gutters">
                  <div class="col-3 align-self-center">
                    <!-- workaround for image path -->
                    {% if founder %}
                    <img src="../{{ product.image.url }}" class="card-img px-1 rounded mx-auto" />
                    {% else %}
                    <img src="{{ product.image.url }}" class="card-img px-1 rounded mx-auto" />
                    {% endif %}
                  </div>
                  <div class="col-9">
                    <h4 class="card-title">{{ product.name }}&nbsp;<i class="far fa-edit btn"></i><span
                        class="float-right">
                        <h6>$ {{product.price}}</h6>
                      </span></h4>
                    <p class="card-text">{{ product.description }}</p>
                    {% if order_id %}
                    <form method="post" action="{% url 'order' order_id %}">
                      {% else %}
                      <form method="post" action="{% url 'order' "new" %}">
                        {% endif %}

                        <input type="hidden" name="product_id" value={{ product.id }}>
                        <div class="form-row">
                          <i class="fas fa-minus-circle btn btn-default"></i>
                          <input type="number" name="product_number" value="1" class="form-control-sm">
                          <i class="fas fa-plus-circle btn btn-default"></i>
                          <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
                        </div>
                        {% csrf_token %}
                      </form>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}