/* Login and register divider */
.divider {
    width: 1px;
    opacity: .8;
    background-color: #858f96;
    margin: 0 71px;
}
/* Star color */
.checked {
  color: orange;
}

/* shop page start */
#menu-tabContent .list-group-item.menu:hover {
  background-color: #E9E9E9;
}

#menu-tabContent .menu .active {
  background-color: #E9E9E9;
}

.menu img {
  object-fit: cover;
}